*.orig
Example/StreetHawkDemo.xcodeproj/project.xcworkspace/xcuserdata
Example/StreetHawkDemo.xcodeproj/xcuserdata
Example/StreetHawkDemo.xcworkspace/xcuserdata
Example/Pods
Example_ObjC/Pods
Example_ObjC/StreetHawkDemo.xcodeproj/project.xcworkspace/xcuserdata
Example_ObjC/StreetHawkDemo.xcodeproj/xcuserdata
Example_ObjC/StreetHawkDemo.xcworkspace/xcuserdata
Example_Swift/StreetHawkDemo.xcodeproj/project.xcworkspace/xcuserdata
Example_Swift/StreetHawkDemo.xcodeproj/xcuserdata
Example_Swift/Pods
Example_Swift/StreetHawkDemo.xcworkspace/xcuserdata
Podfile.lock
